/* colors */

.black {
	background-color: #000000;
}

.text_black, div#main_text > h2, div#main_text > p, a.text_black, a.text_black:visited {
	color: #000000;
}

.white {
	background-color: #ffffff;
}

.text_white, div#main_text > h2.text_white {
	color: #ffffff;
}

.purple {
	background-color: #710880;
}

.text_purple, div#main_text, div#main_text > p.large, a, a:visited, a.text_black:hover {
	color: #710880;
}

.yellow, div.button, h2.button {
	background-color: #f8ac00;
}

.text_yellow, a:hover {
	color: #f8ac00;
}

.mint {
	background-color: #00ffc5;
}

.text_mint {
	color: #00ffc5;
}


/* fonts */

@font-face {
	font-family: LeagueSpartan-Bold;
	src: url('fonts/LeagueSpartan-Bold.ttf');
}

@font-face {
	font-family: AvenirNextLTPro-Bold;
	src: url('fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
	font-family: AvenirNextLTPro-Regular;
	src: url('fonts/AvenirNextLTPro-Regular.otf');
}

h1, div.hero_text {
	font-family: LeagueSpartan-Bold, AvenirNextLTPro-Bold, Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
}

div, h2, div#main_text > p.large, div#main_text > div.quote {
	font-family: AvenirNextLTPro-Bold, LeagueSpartan-Bold, Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
}

div#main_text > p, div#map-hover-box > p {
	font-family: AvenirNextLTPro-Regular, LeagueSpartan-Bold, Tahoma, Verdana, Arial, sans-serif;
	font-weight: unset;
}

h1 {
	text-transform: uppercase;
	font-size: 2em;
}

h2 {
	font-size: 120%;
	margin-top: 35pt;
}

div.hero_link_row > span, div.hero_text {
	text-transform: uppercase;
}

div.hero_text {
	font-size: 300%;
}

div#main_text > p {
	font-size: 110%;
}

div#main_text > div.quote {
	font-size: 165%;
}

div#main_text > p.large {
	font-size: 150%;
}

div.button, h2.button {
	text-transform: uppercase;
	font-size: 125%;
}

div.quote {
	text-align: center;
	font-style: italic;
	font-size: 110%;
}

div.footer {
	text-transform: uppercase;
}

sup {
	vertical-align: top;
}


/* links */

a {
	cursor: pointer;
	text-decoration: underline;
}

span.link, div.link, div.button {
	cursor: pointer;
}

span.link:hover, div.link:hover, div.link:hover > div.button, div.button:hover {
	text-decoration: underline;
}


/* structural */

body {
	margin: 0;
}

img {
	/* get rid of empty area below images */
	display: block;
}

div.hero {
	position: relative;
	overflow: clip;
}

div.hero > div.button {
	left: unset;
	top: unset;
	right: 10%;
	bottom: 40pt;
}

div.hero_link_row {
	position: absolute;
	top: 5pt;
	text-align: center;
	width: 100%;
}

div.hero_link_row > span {
	margin-left: 10pt;
	margin-right: 10pt;
}

div.hero_large {
	height: 32vw;
}

div.hero_slim {
	height: 24vw;
}

img#hero_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	opacity: 0.5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

img#hero_logo_img {
	width: 15%;
	position: absolute;
	right: 61%;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}

div.hero_text {
	position: absolute;
	left: 40%;
}

div.hero_text.top_row {
	bottom: 50%;
}

div.hero_text.bottom_row {
	top: 50%;
}

div.hero_text.hero_subpage {
	left: 0;
	right: 0;
	text-align: center;
	top: 50%;
	bottom: unset;
	margin-top: -0.5em;
}

img.download_sign {
	width: 40pt;
	display: inline;
	vertical-align: middle;
	margin-right: 8pt;
}

img.button_8m {
	display: inline;
	height: 20pt;
	vertical-align: middle;
}

img#map {
	width: 100%;
}

div#map-hover-box {
	position: absolute;
	display: none;
	width: 50%;
	background: rgba(255, 255, 255, 0.85);
	border-radius: 8pt;
	padding: 8pt;
	text-align: left;
}

p.download_block {
	margin-top: 30pt;
}

div.quote {
	margin-bottom: 30pt;
}

div.button, h2.button {
	transform: rotate(-2deg);
	padding: 3pt 12pt;
	text-align: center;
}

h2.button {
	margin-bottom: 30pt;
}

div.button {
	display: inline-block;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 19pt;
	width: 200pt;
}

div.button.two_rows {
	height: 36pt;
}

div.button.midi {
	width: 150pt;
}

div.button.slim {
	width: 100pt;
}

div.columns_two {
	clear: both;
}

div.columns_two > div {
	width: 49%;
	display: inline-block;
}

div.columns_two > div.right {
	float: right;
}

div.pull_up_left {
	position: absolute;
	left: -45%;
	top: 0;
}

div.linkpic {
	position: relative;
	margin-bottom: 5pt;
}

div.linkpic > img {
	width: 100%;
	opacity: 0.5;
}

div.main_column {
	position: relative;
	max-width: 500pt;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10pt;
	padding-right: 10pt;
}

div.hero, div#main_text, div.picture_link_block {
	margin-bottom: 50pt;
}

div#main_text {
	word-break: break-word;
	hyphens: auto;
	text-align: justify;
}

div#main_text h1, div#main_text h2 {
	text-align: left;
}

div.footer {
	text-align: center;
	margin-bottom: 50pt;
	position: relative;
}

div.footer > span {
	line-height: 70pt;
}

div.footer > img {
	height: 100%;
	position: absolute;
	right: 10%;
	top: 0;
}

/* adjustments based on screen size */

@media only screen and (max-width : 80em) {
	div.pull_up_left {
		position: unset;
	}

}

@media only screen and (max-width : 70em) {
	div.hero_text {
		font-size: 200%;
	}

	div.hero_large {
		height: 36vw;
	}

	div.hero_slim {
		height: 27vw;
	}

}

@media only screen and (max-width : 50em) {
	div.hero_text {
		font-size: 150%;
	}

	h2 {
		font-size: 110%;
	}

	div#main_text > p {
		font-size: 100%;
	}

	div#main_text > div.quote {
		font-size: 135%;
	}

	div#main_text > p.large {
		font-size: 125%;
	}

	div.hero > div.button {
		bottom: 30pt;
		font-size: 110%;
		height: 17pt;
	}

	div.hero > div.button > img.button_8m {
		height: 18pt;
	}

	div.hero_large {
		height: 40vw;
	}

	div.hero_slim {
		height: 32vw;
	}

}

@media only screen and (max-width : 40em) {
	div.hero_text {
		font-size: 125%;
	}

	div.hero_link_row {
		font-size: 80%;
	}

	div.hero > div.button {
		bottom: 20pt;
		font-size: 100%;
		height: 14.5pt;
	}

	div.hero > div.button > img.button_8m {
		height: 16pt;
	}

	div.columns_two > div {
		width: 100%;
	}

	div.columns_two > div.right {
		float: unset;
	}

	div.footer {
		text-align: left;
		padding-left: 5%;
	}

	div.hero_large {
		height: 44vw;
	}

	div.hero_slim {
		height: 35vw;
	}

}

@media only screen and (max-width : 30em) {
	h2 {
		font-size: 100%;
	}

	div#main_text > p {
		font-size: 90%;
	}

	div#main_text > div.quote {
		font-size: 110%;
	}

	div#main_text > p.large {
		font-size: 100%;
	}

	div.hero > div.button {
		bottom: 10pt;
		font-size: 90%;
		height: 13pt;
	}

	div.hero > div.button > img.button_8m {
		height: 15pt;
	}

	div.footer > span.footer_link_top, div.footer > span.footer_link_bottom {
		position: absolute;
		left: 5%;
		line-height: unset;
	}

	div.footer > span.footer_link_top {
		top: 22%;
	}

	div.footer > span.footer_link_bottom {
		bottom: 22%;
	}

	div.hero_large {
		height: 48vw;
	}

	div.hero_slim {
		height: 38vw;
	}

}
